@font-face{
  font-family:"Formula";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  src:url(../fonts/formula/PPFormula-CondensedBold.woff2) format("woff2"),
  url(../fonts/formula/PPFormula-CondensedBold.woff) format("woff")
}
@font-face{
  font-family:"Untitled";
  font-style:normal;
  font-weight:400;
  font-display:swap;
  src:url(../fonts/untitled/untitled-sans-regular.woff2) format("woff2"),
  url(../fonts/untitled/untitled-sans-regular.woff2) format("woff")
}
@font-face{
  font-family:"Untitled";
  font-style:bold;
  font-weight:800;
  font-display:swap;
  src:url(../fonts/untitled/untitled-sans-bold.woff2) format("woff2"),
  url(../fonts/untitled/untitled-sans-bold.woff2) format("woff")
}